
<div class="row">
  
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Enregistrer un nouveau post</h2><br><br>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">
          Titre
        </label>
        <input type="text" id="title" formControlName="title" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="content">
          Contenu
        </label>
        <input type="text" id="content" formControlName="content" class="form-control" required>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Enregistrer</button>
    </form>
  </div>
</div>