<div class="bigDiv list-group">


  <div class="post" [ngClass]="{'list-group-item': true,
                            'list-group-item-success': (PostListItemComponent.like > PostListItemComponent.dislike) ,
                            'list-group-item-danger': (PostListItemComponent.like < PostListItemComponent.dislike)}">

      <div class="datePost">{{PostListItemComponent.create_at | date: 'dd/MM/yyyy, HH:mm'}}</div>
      <div><h3>{{PostListItemComponent.title}}</h3></div>
      
      <div style="font-family: cursive">{{PostListItemComponent.content}}</div>
      <div class="likes">
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> {{PostListItemComponent.like}}</span><br>
          <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"> {{PostListItemComponent.dislike}}</span>
      </div>
      
      <br>
      <button class="btn btn-success" (click)="liker(PostListItemComponent.like)">Love it</button>
      <button class="btn btn-danger" (click)="disliker(PostListItemComponent.dislike)">Don't love it</button>
      <br>   
  </div>
</div>
